@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../public/fonts/Roboto-Regular.ttf') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../public/fonts/Roboto-Bold.ttf') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('../public/fonts/Roboto-Black.ttf') format('woff');
    font-display: swap;
  }
}
